# Problem #2 â€“ Create a Property Database

## By: Matthew Pribadi


Datasets
- [Data Center Map](https://www.datacentermap.com/usa/)
- [Data Center World Map](https://map.datacente.rs)
- [World Cities Database](https://www.kaggle.com/datasets/viswanathanc/world-cities-datasets)

### Objective: 

The main motivation for this project is to utilize python scripting to scrape publicly available data sources for data centers and generate a data center database with locations and size/output. The goal is to create a file format with locations, power consumption, and real estate footprint to enable better business intelligence in deciding where to next build a data center.
<br><br>

#### Assumptions/Limitations
- I assume These data centers are still operational
- I trust my python libraries for longitutde and latitude, though I did verify a few locations to be sure
- I had to write a manual script to parse through each page and pull data into a pandas data frame, some limitation on scraping all the data possible in a short amount of time
- The database I found for square footage and gross power use also had to be scraped from a different website and they had different names for each

## Import packages

In [9]:
# general
import io
import os
import requests
import warnings
import re

# file handling
from requests.auth import HTTPBasicAuth
from zipfile import ZipFile
from pathlib import Path  

# Data Science Libraries
import datetime
import numpy as np
import pandas as pd

from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut

# General plotting
import matplotlib.pyplot as plt
import pydot
import seaborn as sns

## Read Data, Cleaning and Preprocessing

In [10]:
df_usa = pd.read_csv('../input/usa-cities/usa_cities.csv')
city_state = df_usa[['city','province']].values.tolist()

In [11]:
url_domain = 'https://www.datacentermap.com/usa/'
url_tail = '/datacenters.html'

#### Test Script

In [12]:
#Short list of city and states to run my code on
test_city_state = city_state[:20]

test_city_state

[['Calais', 'Maine'],
 ['Houlton', 'Maine'],
 ['Presque Isle', 'Maine'],
 ['Bar Harbor', 'Maine'],
 ['Bangor', 'Maine'],
 ['Waterville', 'Maine'],
 ['Augusta', 'Maine'],
 ['Lewiston', 'Maine'],
 ['Portland', 'Maine'],
 ['Salem', 'Massachusetts'],
 ['New Bedford', 'Massachusetts'],
 ['Boston', 'Massachusetts'],
 ['Newport', 'Rhode Island'],
 ['Lowell', 'Massachusetts'],
 ['Providence', 'Rhode Island'],
 ['Manchester', 'New Hampshire'],
 ['Concord', 'New Hampshire'],
 ['Worcester', 'Massachusetts'],
 ['New London', 'Connecticut'],
 ['Montpelier', 'Vermont']]

In [ ]:
#Test based on the test_city_state input above. Not all of those cities will have data centers

df_test = pd.DataFrame()
df_state = pd.DataFrame()

for city, state in test_city_state:
    url_state = state
    url_city = city
    
    url = url_domain + url_state + '/' + url_city + url_tail
    html = requests.get(url).content
    df_list = pd.read_html(html)
    df = df_list[-1]
    df['State'] = state
    
    if(len(df)>1):
        df_test = pd.concat([df_test, df], ignore_index = True)
        df_test = df_test.iloc[:,-5:]

df_test.head()

### Begin full dataset code

In [14]:
# Script to scrape data from the first website and pull all relevant information into a pandas dataframe
df_data_centers = pd.DataFrame()

for city, state in city_state:
    url_state = state
    url_city = city
        
    url = url_domain + url_state + '/' + url_city + url_tail
    html = requests.get(url).content
    df_list = pd.read_html(html)
    df = df_list[-1]
    df['State'] = state
    
    if len(df)>1:
        df_data_centers = pd.concat([df_data_centers, df], ignore_index = True)
        df_data_centers = df_data_centers.iloc[:,-5:]

df_data_centers.head()

,Data Center,Company,Address,City,State
0,105 Cabot Street,Digital Realty,105 Cabot Street,Needham,Massachusetts
1,128 First Avenue,Digital Realty,128 First Avenue,Needham,Massachusetts
2,500 E Rutherford Boston,Broadview Networks,500 E Rutherford,Boston,Massachusetts
3,55 Middlesex,Digital Realty,55 Middlesex Turnpike,Bedford,Massachusetts
4,Boston North,"Provdotnet, LLC",187 Billerica RD,Chelmsford,Massachusetts

In [53]:
#Based on the address, city, and state determine the longitude and latitude for each data center location

lat_list = []
lon_list = []

for row in df_data_centers.values:
    address = row[2]
    city = row[3]
    state = row[4]
    
    full_address = address + ', ' + city + ', ' + state

    app = Nominatim(user_agent="test")
    address = "First St SE, Washington, DC 20004, United States"

    location = app.geocode(address).raw

    lat_list.append(location['lat'])
    lon_list.append(location['lon'])

In [54]:
print(full_address, location)

550 Paiea St, Honolulu, Hawaii {'place_id': 233704022, 'licence': 'Data Â© OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'way', 'osm_id': 633517694, 'boundingbox': ['38.8715756', '38.8716329', '-77.005816', '-77.0057159'], 'lat': '38.8716329', 'lon': '-77.005766', 'display_name': 'First Street Southeast, Navy Yard, Washington, District of Columbia, 20590, United States', 'class': 'highway', 'type': 'footway', 'importance': 0.585}

In [55]:
print('latitude list:', len(lat_list),'longitutude list:', len(lon_list))

latitude list: 969 longitutude list: 969

In [17]:
#Append the longitutde and latitude to the complete data frame

df_data_centers['lat'] = lat_list
df_data_centers['lon'] = lon_list

In [18]:
df_data_centers.head()

,Data Center,Company,Address,City,State,lat,lon
0,105 Cabot Street,Digital Realty,105 Cabot Street,Needham,Massachusetts,42.2802645,-71.2360624
1,128 First Avenue,Digital Realty,128 First Avenue,Needham,Massachusetts,42.2802645,-71.2360624
2,500 E Rutherford Boston,Broadview Networks,500 E Rutherford,Boston,Massachusetts,42.3554334,-71.060511
3,55 Middlesex,Digital Realty,55 Middlesex Turnpike,Bedford,Massachusetts,42.4917301,-71.2817947
4,Boston North,"Provdotnet, LLC",187 Billerica RD,Chelmsford,Massachusetts,42.5998139,-71.3672838

In [19]:
#Store the data frame as a CSV to speed up revisions

filepath = Path('./data_centers.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df_data_centers.to_csv(filepath)

In [41]:
#Obtained another dataset from the second link in the citation above

df_dc_info = pd.read_csv('../input/datacenter-locations/datacenter_info.csv')
df_dc_info.head()

         Data Center            Company White space Gross power
0         Southfield            123 NET           -           -
1  325 Hudson Street  325 Hudson Street           -           -
2             360TCS             360TCS           -           -
3            Buffalo   365 Data Centers     1055 mÂ²           -
4            Chicago   365 Data Centers     1279 mÂ²           -

In [42]:
#Remove unnecessary alphanumeric characters from these two columns and conver to int

df_dc_info['White space'] = df_dc_info['White space'].str.extract('(\d+)').dropna().astype(int)
df_dc_info['Gross power'] = df_dc_info['Gross power'].str.extract('(\d+)').dropna().astype(int)

In [43]:
df_dc_info.head()

         Data Center            Company  White space  Gross power
0         Southfield            123 NET          NaN          NaN
1  325 Hudson Street  325 Hudson Street          NaN          NaN
2             360TCS             360TCS          NaN          NaN
3            Buffalo   365 Data Centers       1055.0          NaN
4            Chicago   365 Data Centers       1279.0          NaN

In [45]:
df_data_centers.head()

,Data Center,Company,Address,City,State,lat,lon
0,105 Cabot Street,Digital Realty,105 Cabot Street,Needham,Massachusetts,42.2802645,-71.2360624
1,128 First Avenue,Digital Realty,128 First Avenue,Needham,Massachusetts,42.2802645,-71.2360624
2,500 E Rutherford Boston,Broadview Networks,500 E Rutherford,Boston,Massachusetts,42.3554334,-71.060511
3,55 Middlesex,Digital Realty,55 Middlesex Turnpike,Bedford,Massachusetts,42.4917301,-71.2817947
4,Boston North,"Provdotnet, LLC",187 Billerica RD,Chelmsford,Massachusetts,42.5998139,-71.3672838

In [47]:
#Attempt to merge based on two keys: Data Center and Company
#Limitation - they have very different names in the company AND in the Data Center name
#I don't expect much to be merged. Future improvement would be to clean up this mined data

df_joined = df_data_centers.merge(df_dc_info, how = 'outer')

df_joined.head()

,Data Center,Company,Address,City,State,lat,lon,White space,Gross power
0,105 Cabot Street,Digital Realty,105 Cabot Street,Needham,Massachusetts,42.2802645,-71.2360624,NaN,NaN
1,128 First Avenue,Digital Realty,128 First Avenue,Needham,Massachusetts,42.2802645,-71.2360624,NaN,NaN
2,500 E Rutherford Boston,Broadview Networks,500 E Rutherford,Boston,Massachusetts,42.3554334,-71.060511,NaN,NaN
3,55 Middlesex,Digital Realty,55 Middlesex Turnpike,Bedford,Massachusetts,42.4917301,-71.2817947,NaN,NaN
4,Boston North,"Provdotnet, LLC",187 Billerica RD,Chelmsford,Massachusetts,42.5998139,-71.3672838,NaN,NaN

In [65]:
#Obtained another dataset for city populations

df_population = pd.read_csv('../input/world-cities-datasets/worldcities.csv').rename(columns={'city':'City', 'admin_name':'State'})
df_population_filt = df_population[df_population['country'] == 'United States'][['City','State','population']]
df_population_filt

              City          State  population
1         New York       New York  19354922.0
8      Los Angeles     California  12815475.0
24         Chicago       Illinois   8675982.0
40           Miami        Florida   6381966.0
42          Dallas          Texas   5733259.0
...            ...            ...         ...
15023      Clifton        Arizona      5010.0
15024     Sabattus          Maine      5009.0
15025   Sugarcreek   Pennsylvania      5009.0
15026  Charlestown  New Hampshire      5008.0
15027    Wakefield  New Hampshire      5007.0

[7328 rows x 3 columns]

In [72]:
#Attempt to merge based on two keys: City and State
df_joined_pop = df_joined.merge(df_population_filt, how = 'outer')
df_joined_pop['Data Center'].replace('', np.nan, inplace=True)
df_joined_pop.dropna(subset=['Data Center'], inplace=True)
df_joined_pop.tail()

,Data Center,Company,Address,City,State,lat,lon,White space,Gross power,population
2280,1525 Rockwell Ave,Zayo Group LLC,NaN,NaN,NaN,NaN,NaN,279.0,531.0,NaN
2281,165 Halsey,Zayo Group LLC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2282,209 10th Ave South,Zayo Group LLC,NaN,NaN,NaN,NaN,NaN,650.0,797.0,NaN
2283,7620 Appling Center Dr,Zayo Group LLC,NaN,NaN,NaN,NaN,NaN,557.0,1329.0,NaN
2284,Santa Clara,"Zynga Game Network, Inc.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
#Store final dataset to be visualized on kepler

filepath = Path('./data_centers_full.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df_joined_pop.to_csv(filepath)